@using Clever.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Clever</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style4.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div id="dismiss">
                <i id="toggler" class="glyphicon glyphicon-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <h3>Clever</h3>
                    <strong>C</strong>
                </a>
            </div>

            <ul class="list-unstyled components">
                @*<li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-home"></i>
                        <i class="glyphicon menu">Home</i>
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Home 1</a></li>
                        <li><a href="#">Home 2</a></li>
                        <li><a href="#">Home 3</a></li>
                    </ul>
                </li>*@
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Directories">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        <i class="glyphicon menu">@SharedLocalizer["Directories"]</i>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled components">
                <li>
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </li>
            </ul>

            @*<ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
            </ul>*@
        </nav>
        <div id="content">
            @RenderBody()
        </div>
        
    </div>
    <script type="text/javascript">
        function ToggleSidebar() {
            $('#sidebar').toggleClass('active');
            $('#toggler').toggleClass('glyphicon-arrow-left');
            $('#toggler').toggleClass('glyphicon-arrow-right');
            if ($('#sidebar').hasClass('active')) {
                $.cookie("sidebar", "active");
            }
            else {
                $.cookie("sidebar", "nonactive");
            }
        };

        $(document).ready(function () {
            $('#dismiss').on('click', function () {
                ToggleSidebar();
            });
            if ($.cookie("sidebar") == "active") {
                ToggleSidebar();
            }
        });
    </script>
</body>
</html>
